header {
    background-color: white;

    h1 {
        color: white;
    }

    nav {
        background-color: white;

        a {
            text-decoration: none;
            font-weight: bold;


            &:hover { 
                background-color: beige;
            }

        }
    }
}